In [1]:
sub = ["AI", "Data Science", "Math", "Statistics"]
for x in sub:
    print(x)

AI
Data Science
Math
Statistics

In [7]:
limit = [1,2,3,4,5]
sum=0
for i in limit:
    sum=sum+i
print(sum)

15

In [27]:
data='I Love Data Science so much!!!'
data = data.split()
for i in range(len(data)):
    print(data[i])

I
Love
Data
Science
so
much!!!

Assignment 1: Display number from -100 to -10 using loop

In [31]:
for x in range(-100, -9):
    print(x)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

Assignment 2: Write a program to sum all prime numbers within a range 10 to 100

In [43]:
prime_number=[]
non_prime=[]
for i in range(2,101):
    if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0 and i%11!=0:
        prime_number.append(i)
    else:
        non_prime.append(i)
prime_number
#non_prime

[13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [65]:
int(5/2)+1

3

Assignment 3: Find the factorial of n!

In [9]:
num=int(input("Enter a number"))
factorial=1
if num>0:
    for i in range(num,1,-1):
        factorial=factorial*i
        print(i)
print("final answer is ", factorial)

Enter a number 10

10
9
8
7
6
5
4
3
2
final answer is  3628800

Assignment 4: Reverse a given intergener number

In [57]:
num=str(65798)
reverse_number=0
for i in range(len(num)):
    digit=int(num)%10
    reverse_number=reverse_number*10+digit
    num=int(int(num)/10)
reverse_number

89756

In [17]:
56 // 10

5